@charset:"UTF-8";
:root{
	--cor1:#C5EBD6;
	--cor2:#83E1AF;
	--cor3:#3DDC84;
	--cor4:#2FA866;
	--cor5:#063D1E;
}
*{
  margin:0px;
  padding:0px;
}
body{
  background-color:var(--cor1);
  width:100vw;
}
h1{
  color:var(--cor5);
  text-align:center;
  padding:8px 0px;
}
h2{
  color:#0d680d;
  text-align:center;
  padding:8px 0px;
}
p{
  text-align:justify;
  line-height:1.5em;
}
header{
  min-width:320px;
  height:200px;
  background-color:var(--cor1);
  display:flex;
  align-items:center;
  justify-content:center;
  background-image:radial-gradient(white,var(--cor2));
  border-bottom:1px solid var(--cor5);
}
main, header{
  min-width:320px;
  max-width:500px;
  margin:auto;
}
main>section{
  padding:6px 15px;
  background-color:white;
  border-bottom:1px solid var(--cor5);
}
section p{
  padding-bottom:10px;
}
section img{
  width:290px;
  display:block;
  margin:auto;
  padding-bottom:10px;
}
#resumo h1{
  margin:0px auto;
}
#sumario a{
  display:flex;
  flex-direction:row;
  text-decoration:none;
  color:darkblue;
  margin-bottom:7px;
}
#sumario a:hover{
  color:darkred;
  text-decoration:underline;
}
#sumario h2{
  margin-bottom:7px;
}
#referencias a:not(#materia){
  color:var(--cor5);
  text-decoration:none;
  font-weight:bold;
}
#materia{
  font-size:12px;
  line-height:2px;
  padding-top:15px;
  padding-right:15px;
}
footer{
  background-color:var(--cor5);
}
footer p{
  color:white;
  padding:10px 15px;
  border:1px solid black;
  line-height:1.2em;
  font-size:15px;
  text-align:center;
}
@media screen and (min-width:400px){
  section img{
    width:420px
  }
}